@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto&display=swap');

/* 
Color selection
Main #3AA191
blue #39A8B8
darkblue #367FAD
lightgreen #39B881
strong green #36AD58
text grey #303030
almost white bg color #ededed
greyer bg color #dddddd
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
    margin: 0;
    font-size: 100%; 
    color: #303030;
}
/* ///// NAV //// */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3AA191;
    margin: 0;
    padding: 0;
}
.navmenu {
    display: flex;
    list-style-type: none;
    gap: 20px;
    
    padding: 0;
    margin: 10px 100px 10px 10px;

    
}
#logo {
    text-decoration: none;
    font-size: 40px;
    font-family: 'Noto Sans', sans-serif;
    color: #303030;
    padding: 0px;
    margin: 10px 10px 10px 100px;
}
.menu {
    text-decoration: none;
    color: #303030;
    font-size: 1.3em;
}
.menu:hover {
    color: white;
}
/* ///// Introduction - Header  //// */
.introduction {
    display: flex;
    background-color: #dddddd;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    margin: 0;
    padding: 0;
}

.introRight {
    padding: 0;
    margin: 10px 100px 10px 10px;
    flex: 1;
    max-width: 700px;
    min-width: 100px;
}

.introLeft {
    padding: 0px;
    margin: 40px 10px 40px 100px;
    flex: 2;
    max-width: 600px;
    min-width: 300px;
    
}
.introLeft h1 {
    font-size: min(4vw, 50px);
}
.introLeft p {
    font-size: min(2vw, 40px);
}
.introLeft button {
    font-size: min(2vw, 40px);
    border: 3px solid #3AA191;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #3AA191;
    font-weight: bold;

 }
 .introLeft button:hover {
    border: 3px solid #000000;
 }

/* IMAGES SECTION */
.showImages {
    background-color: #367FAD;
    margin: 0;
    padding: 0;
    height: 550px;
}

.imagesReel {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 40px 100px 40px 100px;
    margin: 0;
}
.imageReelTitle {
    margin: 0;
    padding: 40px 10px 40px 100px;
    color: white;
    text-align: center;
}

.section1.images {
    max-width: 400px;
    width: 90%;
    border-radius: 10%;
}
.section1.text {
    max-width: 400px;
    width: 90%;
    text-align: center;
    font-size: min(1.5vw, 20px);
    color: white;
}
@media only screen and (max-width: 1260px) {
    .imagesReel {
        flex-wrap: wrap;
    }
    .showImages {
        height: auto;
    }
  }

  /* //// QUOTE SECTION //// */

.quoteSection {
    background-color: #dddddd;
    margin: 0 0 0px 0;
    padding: 0;
    height: 550px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.quote {
    padding: 20px;
    margin: 0;
    max-width: 800px;
    font-size: min(2vw, 25px);
}
#author {
    font-size: min(1.6vw, 20px);
    position: absolute;
    right: 300px;
    top: 400px;
}

/* ///// CALL TO ACTION //// */
.whitespace {
    height: 400px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actionSection {
    background-color: #39B881;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 80vw;

}
h3.action {
    font-size: min(1.6vw, 25px);
}
p.action {
    font-size: min(1.2vw, 20px);
}
.actionSection div {
    width: 50%;
}
.actionbutton {
    font-size: min(1.8vw, 30px);
    border: 3px solid #FFF;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #FFF;
    font-weight: bold;
}
.actionbutton:hover {
    border: 3px solid #000;
}

footer {
    background-color: #dddddd;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
